h1 {
	color: red;
	text-align: center;
}
h2 {
	color: #8c4400;
	text-align: center;
}
p {
	color: #f80;
	border: ;
	display: inline;
}
h3 {
	color: #678c00;
	display: inline;
}
body {
	background: #fdff75;
}
img {
	border-radius: 50px;
	border: #e84600 5px solid;
	display: block;
}